<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<item title="Catalogs" url="">
		<item title="Organizational Units"     url="%root_path%/Catalogs_OrganizationalUnits" />
		<item title="Organizational Positions" url="%root_path%/Catalogs_OrganizationalPositions" />
		<item title="Natural Persons"          url="%root_path%/Catalogs_NaturalPersons" />
		<item title="Employees"                url="%root_path%/Catalogs_Employees" />
		<item title="Projects"                 url="%root_path%/Catalogs_Projects" />
		<item title="SubProjects"              url="%root_path%/Catalogs_SubProjects" />
		<item title="Counteragents"            url="%root_path%/Catalogs_Counteragents" />
		<item title="Nomenclature"             url="%root_path%/Catalogs_Nomenclature" />
		<item title="Schedules"                url="%root_path%/Catalogs_Schedules" />
	</item>
	<item title="Documents" url="">
	    <item title="Recruiting Order"     url="%root_path%/Document_RecruitingOrder" />
	    <item title="Dismissal Order"      url="%root_path%/Document_DismissalOrder" />
	    <item title="Vacation Order"       url="%root_path%/Document_VacationOrder" />
	    <item title="Periodic Closing"     url="%root_path%/Document_PeriodicClosing" />
	    <item title="Contract"             url="%root_path%/Document_Contract" />
	    <item title="Project Handover"     url="%root_path%/Document_ProjectHandover" />
	    <item title="Project Registration" url="%root_path%/Document_ProjectRegistration" />
	    <item title="Project Assignment"   url="%root_path%/Document_ProjectAssignment" />
	    <item title="Project Closure"      url="%root_path%/Document_ProjectClosure" />
	    <item title="Invoice"              url="%root_path%/Document_Invoice" />
	    <item title="Time Card"            url="%root_path%/Document_TimeCard" />
	</item>
	<item title="Reports" url="">
		<item title="Resource Load" url="%root_path%/Report_ResourceLoad" />
	    <item title="Time Cards"    url="%root_path%/Report_TimeCards" />
	</item>
	<item title="Other" url="">
	    <item title="User Profile" url="%root_path%/UserProfile" />
		<item title="User Browser" url="%root_path%/User_Browser" />
		<item title="Calendar"     url="%root_path%/Calendar" />
		<item title="Constants"    url="%root_path%/Constants" />
	    <item title="Delete Marked For Deletion" url="%root_path%/Delete_Marked_For_Deletion" />
	</item>
</menu>
