<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Project Performance</title>
  <style>
    table { border-collapse: collapse; padding: 0px; color: #111111;}
	th, td { border: 1px solid #000000; padding: 0px 3px 1px 3px;}
	
	*[area=headline] { background-color: #dedeed; }
	*[area=body]    { background-color: #eeffc9; }
  </style>
</head>
<body>
    <!-- BEG Макет -->
    <table>
	<tr area="header">
	  <td colspan="5" class="oe_report_none_border" style="font-size: 18px; padding-bottom: 0.8em;">Project Performance Report from [Date]</td>
    </tr>
	<tr area="headline">
	  <th>Project</th>
      <th>Approved Budget (Hours)</th>
	  <th>Budget Spent (Hours)</th>
	  <th>Approved Budget (NOK)</th>
	  <th>Budget Spent (NOK)</th>
    </tr>
    <tr area="body">
      <td>[Project]</td>
	  <td>[ApprovedBudgetHRS]</td>
	  <td>[BudgetSpentHRS]</td>
	  <td>[ApprovedBudgetNOK]</td>
	  <td>[BudgetSpentNOK]</td>
    </tr>
	</table>
  <!-- END Макет -->
</body>
</html>
