<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Project Resources</title>
  <style>
    table { border-collapse: collapse; padding: 0px; color: #111111;}
	th, td { border: 1px solid #000000; padding: 0px 3px 1px 3px;}
	
	*[area=total]    { background-color: #ffdeed; }
	*[area=employee] { background-color: #dedeed; }
	*[area=hours]    { background-color: #eeffc9; }
  </style>
</head>
<body>
    <!-- BEG Макет -->
    <table>
	<tr area="header">
	  <td colspan="2" class="oe_report_none_border" style="font-size: 18px; padding-bottom: 9px;">[header]</td>
    </tr>
    <tr>
	  <th>Employee</th>
      <th>Total hrs</th>
    </tr>
    <tr>
      <td area="employee" decode="Employee">[employee]</td>
	  <td area="hours">[hours]</td>
    </tr>
    <tr area="total">
      <td style="text-align: right;"><b>Total:</b></td>
	  <td>[total]</td>
    </tr>
	</table>
  <!-- END Макет -->
</body>
</html>
