<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Project ManHours</title>
  <style>
    table { border-collapse: collapse; padding: 0px; color: #111111;}
	th, td { border: 1px solid #000000; padding: 0px 3px 1px 3px;}
	
	*[area=period]  { background-color: #ffdeed; }
	*[area=project] { background-color: #dedeed; }
	*[area=hours]   { background-color: #eeffc9; }
  </style>
</head>
<body>
    <!-- BEG Макет -->
    <table>
	<tr area="header">
	  <td colspan="2" class="oe_report_none_border" style="font-size: 18px; padding-bottom: 9px;">[header]</td>
    </tr>
    <tr>
	  <th>Project</th>
      <th>Total hrs</th>
    </tr>
    <tr>
      <td area="project">[project]</td>
	  <td area="hours" decode="ProjectResources">[hours]</td>
    </tr>
	</table>
  <!-- END Макет -->
</body>
</html>
