#pages {
    border: 1px solid #6F8BAB;
    overflow: auto;
    width: 100%;
    height: 450px;
}

ul#page_tree {
    margin: 0px 5px 5px 5px !important;
    list-style: none !important;
}

ul#page_tree ul, li {
    margin-left: 0px !important;
    list-style: none !important;
}

li.last, li.lastExpandable {
    padding-bottom: 0px;
}

li.lastCollapsable {
    padding-bottom: 0px !important;
}

li > ul {
    margin-top: 3px !important;
}

.buttons input {
    width: 75px;
    vertical-align: bottom;
}

.buttons {
     margin: 10px 0px;
}

.item_text {
    float: left;
    color: #93B52D;
    line-height: 1em;
}

.item_checkbox {
    background-color: #efeefe;
    text-align: right;
    line-height: 1em;
}

.item_checkbox:hover {
    background-color: #edd8da;
}

.item_checkbox input[type="checkbox"] {
    height: 1em;
    vertical-align: top;
    margin: 1px;
}

.item_checkbox a {
    padding: 0px 5px;
    width: 250px;
}

.hide {
    visibility: hidden;
}

a.cancel {
    color: #FF4500 !important;
}
#pageText input {
    font-size: 13px !important;
    color:  #777777 !important;
}