.ae_current { background-color: #DEEDED !important; }
.ae_deleted { color: #801020 !important; }
.ae_deleted_col { background-color: #FFD0C0; }
#calBorder table {border: 1px ridge black;}
#calBorder td {border: 1px ridge black; line-height: 14px; margin: 0; padding: 2px 5px;}
#calBorder td > table {border: 0 none !important;}
#calBorder td td {border: 0 none !important;}

td.ae_editform_field_name, td.ae_itemform_field_name {
	width: 30%;
	vertical-align: bottom;
	overflow: hidden;
}
td.ae_editform_field_value { padding-left: 10px; vertical-align: bottom; }
ul.ae_editform_field_errors, ul.ae_errors {
	margin: 0 !important;
	padding-left: 1em;
	list-style-type: disc;
	color: #DF0000;
}

.tabular_item td { vertical-align: bottom !important; }

.ae_tabular_section {
	width: 702px;
	min-height: 80px;
	padding: 0px 0px 4px 0px;
	overflow: auto;
}
.ae_listform {
	width: 721px;
	padding: 7px 0px 4px 0px;
	overflow: auto;
}

.ae_edit_form input[type=text], .ae_object_edit_form input[type=text] {
	width: 140px;
}

.ae_edit_form select, .ae_object_edit_form select {
	width: 146px;
}

.ae_posted {
	background: url("/skins/common/icons/doc_list_posted.png") no-repeat scroll left 3px transparent;
	padding-left: 22px;
}

.ae_not_posted {
	background: url("/skins/common/icons/doc_list_unposted.png") no-repeat scroll left 2px transparent;
	padding-left: 22px;
}

.ae_field_posted { 
	background: url("/skins/common/icons/accept.png") no-repeat scroll left center transparent;
	padding-left: 22px;
}

.ae_field_not_posted {
	background: url("/skins/common/icons/silk/information.png") no-repeat scroll left center transparent;
	padding-left: 22px;
	height: 18px;
}

.ae_field_posted_text { color: #009523; /*color: #DF0000;*/ }
.ae_field_not_posted_text { color: #3366CC; }

.ae_editform_actions { padding: 0px 0px 2px 2px; }

.ae_constants_edit_form input[type=text]  { width: 140px; }
.ae_constants_edit_form select { width: 144px; }

.oe_custom_edit_form input[type=text]  { width: 140px; }
.oe_custom_edit_form select { width: 146px; }

.ae_even { background-color: #F5F5F5; }
tr.tabular_item:hover, tr.ae_list_item:hover { background-color: #EEFFC9/*#DEFECB*/; }

.ae_list_pagination {
   margin: 0px 0px 7px 0px;
   padding: 3px 0px;
   background: #eaeaea;
   clear: both;
   text-align: center;
   vertical-align: middle;
}

.oef_content a.ae_pagination {
   text-decoration: none;
   color: #0000ff !important;
}

span.ae_pagination {
   color: #900010;
}

.oef_content {
   padding-bottom: 0px;
}

.oef_content table {
   width:100%;
   margin:0;
   padding:0;
   border-collapse:collapse;
   border-spacing:0;
   border-color:#AAAAAA -moz-use-text-color #AAAAAA #AAAAAA;
   border-left:1px solid #AAAAAA;
   border-right:0 none;
   border-style:solid none solid solid;
   border-width:1px 0 1px 1px;
}

.oef_content th {
   background: url("/skins/deuce/lighty-blue/bg-tbl-header.gif") no-repeat scroll 0 0 #D9D9D9;
   border-bottom:1px solid #AAAAAA;
   border-right:1px solid #AAAAAA;
   color:#4F6B72;
   font-family:Verdana,Arial,Sans-Serif;
   font-size:12px;
   font-weight:bold;
   padding:6px 8px;
   text-align:left;
   white-space:nowrap;
   font-style:normal;
   margin:0;
   line-height:1.6em;
}

.oef_content td {
   border-right:1px solid #AAAAAA;
   color:#4F6B72;
   font-family:Verdana,Arial,Sans-Serif;
   font-size:12px;
   padding:6px 8px;
   vertical-align:top;
   margin:0;
   line-height:1.6em !important;
}

.oef_content a {
   color: #3366CC !important;
   font-family: Verdana,Arial,Sans-Serif !important;
   font-size: 12px !important;
   line-height: 1.6em !important;
}

.oef_content input {
   font-family: Verdana,Arial,Sans-Serif !important;
   font-size: 12px !important;
   color: #000000 !important;
   background-color: #FFFFFF !important;
   border: 1px solid #6690BB !important;
   font-style: normal !important;
   font-weight: normal !important;
   padding: 2px !important;
}
.oef_content input[type=checkbox] {
   margin: 4px 0 3px 0;
}

.oef_content input[disabled], .oef_content select[disabled] {
	background-color: #F7F7F7 !important;
	color: #999999 !important;
	border: 1px solid #BBBBBB !important;
}

.oef_content a[disabled=true] {
	color: #999999 !important;
	cursor: default !important;
	text-decoration: none;
	outline-style: none !important;
}

/************************************** MT messages ******************************************/

.oef_content div.systemmsg {
    margin: 10px 0;
    padding: 0;
    border: 1px solid #ABA000;
    background: url("/skins/ace/mindtouch/bg-yellow.gif") repeat-x scroll 0 0 #FFF9AE;
    font: 14px/22px Verdana,Helvetica,Arial,Sans-Serif;
}

.oef_content div.systemmsg div.inner {
    border: 1px solid #FFFFFF;
    padding-left: 42px;
}

.oef_content div.successmsg div.inner {
    background: url("/skins/common/icons/icon-32-success.gif") no-repeat scroll 4px 3px transparent;
}

.oef_content div.errormsg div.inner {
    color: #9D0A0E;
    background: url("/skins/common/icons/icon-32-error.gif") no-repeat scroll 4px 3px transparent;
    font-weight: 600;
}

div.errormsg div.inner a {
	color: #9D0A0E !important;
	font-weight: 600;
	font:  14px/22px Verdana,Helvetica,Arial,Sans-Serif !important;
}

div.errormsg div.inner a:hover {
	color: #3366CC !important;
	text-decoration: underline;
}

.oef_content div.systemmsg ul, #topic div.systemmsg ul {
    margin: 4px 0 !important;
    padding: 4px 0 4px 0px;
}

.oef_content div.systemmsg ul li {
    list-style-type: none !important;
    margin-left: 5px !important;
}

.oef_content div.warningmsg {
	background: #FFDD77;
	border: 1px solid #DDAA44;
}

.oef_content div.warningmsg a {
	color: #3355FF !important;
	font:  14px/22px Verdana,Helvetica,Arial,Sans-Serif !important;
}

.oef_content div.warningmsg div.inner {
	color: #304555;
    background: url("/skins/common/icons/icon-32-error.gif") no-repeat scroll 4px 3px transparent;
}

.oef_content div.infomsg {
	background: url("/skins/common/icons/silk/information.png") no-repeat scroll 5px 5px transparent;
	padding: 4px 4px 3px 27px;
	min-height: 19px;
	color: #3366CC;
	border: 1px solid #AAAAAA;
	background-color: #F5F5F5;
	margin: 7px 0;
}

/************************************** Dynamic update ***************************************/

.oef_edit_form_field_add_new {
	font-weight: bold;
	font-variant: small-caps;
}

#oef_dynamic_upadate_edit_form {
	position: fixed;
	overflow: auto;
	background-color: #F7F7F7;
	padding: 6px;
	z-index: 1000;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.oef_content td {
    border-right: 1px solid #AAAAAA;
    color: #4F6B72;
    font-family: Verdana,Arial,Sans-Serif;
    font-size: 12px;
    line-height: 1.6em !important;
    margin: 0;
    padding: 6px 8px;
    vertical-align: top;
}

#oef_dynamic_upadate_edit_form td.ae_editform_field_name {
    width: 41% !important;
}


/***************************************** Reports *******************************************/

.ae_report_form input[type=text]  { width: 140px; }
.ae_report_form select { width: 144px; }
.ae_report {
	width: 721px;
	padding: 20px 0px 4px 0px;
	overflow: auto;
}

.ae_report *[ondblclick] { cursor: url("/skins/common/icons/sheet.ico"), crosshair; }

.oef_content table.oef_report, .oef_content tr.oef_report {
	border: 0 none !important;
}

.oef_report td.oe_report_none_border, .oef_report .oe_report_none_border {
	border-top:    0 none !important;
	border-right:  0 none !important;
	border-bottom: 0 none !important;
	border-left:   0 none !important;
}

.oef_report td, .oef_report th {
	border-top:    1px solid #AAAAAA !important;
	border-right:  1px solid #AAAAAA !important;
	border-bottom: 1px solid #AAAAAA !important;
	border-left:   1px solid #AAAAAA !important;
}


/***************************************** Widgets *******************************************/

.oef_w_layout {
	font: 13px arial,sans-serif;
    font-family: arial;
    font-size: 100%;
    text-align: left;
	border: 0 none;
	margin: 0 0 10px 10px;
}
.rnd1, .rnd2, .rnd3 {
    overflow: hidden;
}
.rnd1 {
    background: none repeat scroll 0 50% #BDBDBD;
    margin: 0 4px;
}
.rnd1, .rnd2, .rnd3 {
    border-style: solid;
    border-width: 0;
    display: block;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
}
.rnd_modtitle .rnd2, .rnd_modtitle .rnd3 {
    background-color: #ddddee;
}
.rnd_modtitle .rnd2, .rnd_modtitle .rnd3 {
    background: none repeat scroll 0 50% #ddddee;
}
.rnd2, .rnd3 {
    background: none repeat scroll 0 50% #F7F7F7;
    border-color: #BDBDBD;
}
.rnd2 {
    border-width: 0 2px;
    margin: 0 2px;
}
.rnd3 {
    border-width: 0 1px;
    height: 2px;
    margin: 0 1px;
}
.modtitle {
    font-size: 12px;
    color: #3366CC;
    position: relative;
    z-index: 1;
    border-color: #ACACAC #ACACAC !important;
    border-style: none solid none;
    border-width: 1px 1px medium;
    background: none repeat scroll 0 0 #ddddee;
    line-height: 19px;
    padding: 0 7px 2px !important;
}
.modtitle .lnk {
    position: relative;
    z-index: 3;
}
.modtitle h2 {
    float: left;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #3366CC;
    border-style: none;
    line-height: 19px;
    text-align: left;
    font: 13px arial,sans-serif;
    font-family: arial;
    letter-spacing: normal;
}
.modtitle .modtitle_text {
    font-weight: bold;
    color: #444444;
    font-size: 12px;
    text-decoration: none;
    line-height: 19px;
}
.modboxin {
	background-color: #F8F8F8;
    clear: both;
    overflow: hidden;
    border-width: 1px;
    border-color: #ACACAC #BDBDBD;
    border-style: solid solid none !important;
    padding: 0 !important;
    margin: 0;   
}
a.v2ddbox, a.v2enlargebox {
    height: 12px;
    width: 13px;
    float: right;
    margin-left: 3px;
    margin-top: 3px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    background-image: url("/skins/common/icons/sprite0_classic.gif");
    background-repeat: no-repeat;
}
a.v2enlargebox {
    background-position: -78px 0;
}
a.v2ddbox {
    background-position: -26px 0;
}

.oef_w_container {
	margin: 5px 9px 7px !important;
	overflow: auto;
}

.oef_w_content table {
	border: 0 none;
	border-collapse: separate;
	border-spacing: 2px 0px;
	width: 100%;
}
.oef_w_content td, .oef_w_content th {
	padding: 2px 8px;
	font-family: Verdana,Arial,Sans-Serif;
    font-size: 12px;
    font-style: normal;
    line-height: 1.6em;
    margin: 0;
    text-align: left;
    white-space: nowrap;
}
.oef_w_content th {
	background-color: #dfeddc;
    color: #84aa05;
    font-weight: bold;
}
.oef_w_content td {
	color: #222222;
    font-weight: normal;
}
.oef_w_content td.even {
	background-color: #ffffff;
}
.oef_w_content td.uneven {
	background-color: #ecefF7;
}

.oef_w_content td.oef_widget_list_label {
	font-weight: bold;
}



/******************************** Delete marked for deletion *********************************/ 

#delete_marked_for_deletion_form table,
#delete_marked_for_deletion_form tr,
#delete_marked_for_deletion_form td,
#delete_marked_for_deletion_form th {
	border: 0 none !important;
}

#delete_marked_for_deletion_form table {
	border-collapse: separate;
	border-spacing: 2px;
}

#delete_marked_for_deletion_form td {
	padding: 3px 5px;
}

#delete_marked_for_deletion_form .oef_group_header {
	background-color: #DADADA;
	font-weight: 600;
}

#delete_marked_for_deletion_form .oef_even {
	background-color: #EFEFFE;
}

#oef_marked_for_deletion_container {
	width: 100%;
	height: 254px;
	overflow: auto;
	margin: 10px 0;
	border: 1px solid #AAAAAA;
}

#oef_marked_for_deletion_container .oef_deletion_checkboxes {
	width: 13px;
}

#oef_related_entities_container {
	width: 100%;
	height: 254px;
	overflow: auto;
	margin: 10px 0;
	border: 1px solid #AAAAAA;
}

#oef_marked_for_deletion_container .oef_could_be_removed {
	color: green !important;
}

#oef_marked_for_deletion_container .oef_could_not_be_removed {
	color: red !important;
}

/************************************* Tree View *********************************************/

.oef_tree_not_active {
	width: 16px;
	height: 1.6em;
	float: left;
}

.oef_tree_active {
	width: 16px;
	height: 1.6em;
	float: left;
	cursor: pointer;
	background: url("/skins/common/icons/minusH.gif") no-repeat scroll left 60% transparent;
}

*[class="oef_tree_active oef_tree_closed"] {
	width: 16px;
	height: 1.6em;
	float: left;
	cursor: pointer;
	background: url("/skins/common/icons/plusH.gif") no-repeat scroll left 60% transparent;
}

.oef_tree_folder {
	width: 24px;
	height: 1.6em;
	float: left;
	background: url("/skins/common/icons/folder.png") no-repeat scroll 4px center transparent;
}

*[class="oef_tree_folder oef_tree_closed"] {
	width: 24px;
	height: 1.6em;
	float: left;
	background: url("/skins/common/icons/folder.png") no-repeat scroll 4px center transparent;
}

.oef_tree_item {
	width: 24px;
	height: 1.6em;
	float: left;
	background: url("/skins/common/icons/file.png") no-repeat scroll 4px center transparent;
}

.oef_tree_desc {
	padding-left: 40px;
}

.oef_desc {
	padding-left: 24px;
}

.oef_tree_loader {
	background: url("/skins/common/icons/anim-circle.gif") no-repeat scroll 4px center transparent !important;
}


/************************************* Edit Box **********************************************/

.oef_edit_box_container {
	width: 146px;
}

.oef_edit_box_input_container {
	float: left;
	width: 110px;
	height: 18px;
	padding-left: 3px;
	border: 1px solid rgb(179, 172, 134);
	border-right: 0px none;
	-moz-border-radius: 3px 0px 0px 3px;
}

.oef_edit_box_btns_container {
	float: left;
	width: 30px;
	height: 18px;
	border: 1px solid rgb(179, 172, 134);
	border-left: 0px none;
	-moz-border-radius: 0px 3px 3px 0px;
	background-color: #F5F2DD;
    background-image: url("/skins/common/icons/button.png");
    background-repeat: repeat-x;
    overflow: hidden;
}

.oef_edit_box_input_container .oef_edit_box_text {
	width: 108px;
	border: 0 none;
	height: 18px;
	overflow: hidden;
	line-height: 1.5em;
	color: #000000;
}

.oef_edit_box_button {
	width: 14px;
	height: 100%;
	float: left;
	border-left: 1px solid rgb(179, 172, 134);
}

.oef_edit_box_button:hover {
	background: url("/skins/common/icons/edit_box_sel_button.png") no-repeat scroll 0px 0px transparent;
}

.oef_edit_box_button img {
	width: 12px;
	height: 12px;
	padding: 3px 1px;
}

.oef_edit_box_item_container {
	position: absolute;
	width: 146px !important;
	background-color: white;
	border-left:   2px solid #AAAAAA !important;
	border-top:    1px solid #AAAAAA !important;
	border-bottom: 1px solid #111111 !important;
	border-right:  1px solid #111111 !important;
}

.oef_edit_box_item_container td {
	padding: 2px 4px;
	line-height: 1.1em !important;
	color: #000000;
	border: 0 none !important;
	border-right: 0 none !important;
}

.oef_edit_box_item_container td:hover {
	background-color: #3565C0;
	color: #FFFFFF;
}

.oef_edit_box_select_form {
	position: fixed;
	left: 50%;
	top:  50%;
    margin: -20% 0 0 -100px;
    width: 300px;
	height: 200px;
	background-color: #F7F7F7;
	padding: 6px;
	z-index: 1000;
	border-radius: 5px;
	-moz-border-radius: 8px;
}

.ae_object_edit_form .oef_edit_box_select_form select {
	width: 300px;
	height: 163px;
}

.oef_edit_box_select_form_actions {
	margin: 10px 0;
}


/************************************* SubMenu ********************************************/

.oe_list_action_menu {
	padding: 5px 0 2px;
}

.oe_list_action_menu a {
	padding: 2px 2px 3px;
}

#oef_js_submenu {
	z-index: 999;
	background-color: #FEFEFE;
	padding: 4px;
	border: 1px solid #CCCCCC;
    margin-top: 2px;
}

#oef_js_submenu .oef_menu_item {
	/*border-bottom: 1px solid #CCCCCC;*/
    color: #333333;
    font-family: Verdana,Arial,Sans-Serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 1.6em;
    margin: 0;
    padding: 4px 8px 6px 8px;
    text-align: left;
    white-space: nowrap;
}

.oe_list_action_menu a.oef_menu_opened {
	background-color: #3565C0 !important;
	color: #FFFFFF !important;
}

#oef_js_submenu .oef_menu_item:hover {
	background-image: url("/skins/aconawellpro/standard/menu_icons/tools_menu_bg_hover.gif");
}


