.ae_current { background-color: #DEEDED !important; }
.ae_deleted { color: #801020 !important; }
.ae_deleted_col { background-color: #FFD0C0; }
#calBorder table {border: 1px ridge black;}
#calBorder td {border: 1px ridge black; line-height: 14px; margin: 0; padding: 2px 5px;}
#calBorder td > table {border: 0 none !important;}
#calBorder td td {border: 0 none !important;}

td.ae_editform_field_name, td.ae_itemform_field_name {
	width: 30%;
	vertical-align: bottom;
	overflow: hidden;
}
td.ae_editform_field_value { padding-left: 10px; vertical-align: bottom; }
ul.ae_editform_field_errors, ul.ae_errors {
	margin: 0 !important;
	padding-left: 1em;
	list-style-type: disc;
	color: #DF0000;
}

.tabular_item td { vertical-align: bottom !important; }

.ae_tabular_section {
	width: 702px;
	padding: 0px 0px 4px 0px;
	overflow: auto;
}
.ae_listform {
	width: 721px;
	padding: 7px 0px 4px 0px;
	overflow: auto;
}

.ae_edit_form input[type=text], .ae_object_edit_form input[type=text] {
	width: 140px;
}

.ae_edit_form select, .ae_object_edit_form select {
	width: 144px;
}

.ae_posted {
	background: url("/skins/common/icons/accept.png") no-repeat scroll left center transparent;
	padding-left: 22px;
}
.ae_field_posted { 
	background: url("/skins/common/icons/accept.png") no-repeat scroll left center transparent;
	padding-left: 22px;
}
.ae_field_not_posted {
	background: url("/skins/common/icons/silk/information.png") no-repeat scroll left center transparent;
	padding-left: 22px;
	height: 18px;
}

.ae_field_posted_text { color: #009523; /*color: #DF0000;*/ }
.ae_field_not_posted_text { color: #3366CC; }

.ae_editform_actions { padding: 0px 0px 2px 2px; }

.ae_constants_edit_form input[type=text]  { width: 140px; }
.ae_constants_edit_form select { width: 144px; }

.oe_custom_edit_form input[type=text]  { width: 140px; }
.oe_custom_edit_form select { width: 144px; }

.ae_report_form input[type=text]  { width: 140px; }
.ae_report_form select { width: 144px; }
.ae_report {
	width: 721px;
	padding: 20px 0px 4px 0px;
	overflow: auto;
}

.ae_even { background-color: #F5F5F5; }
tr.tabular_item:hover, tr.ae_list_item:hover { background-color: #EEFFC9/*#DEFECB*/; }

.ae_report *[ondblclick] { cursor: url("/skins/common/icons/sheet.ico"), crosshair; }

.ae_list_pagination {
   margin: 0px 0px 7px 0px;
   padding: 3px 0px;
   background: #eaeaea;
   clear: both;
   text-align: center;
   vertical-align: middle;
}

.oef_content a.ae_pagination {
   text-decoration: none;
   color: #0000ff !important;
}

span.ae_pagination {
   color: #900010;
}

.oef_content {
   padding-bottom: 0px;
}

.oef_content table {
   width:100%;
   margin:0;
   padding:0;
   border-collapse:collapse;
   border-spacing:0;
   border-color:#AAAAAA -moz-use-text-color #AAAAAA #AAAAAA;
   border-left:1px solid #AAAAAA;
   border-right:0 none;
   border-style:solid none solid solid;
   border-width:1px 0 1px 1px;
}

.oef_content th {
   background: url("/skins/deuce/lighty-blue/bg-tbl-header.gif") no-repeat scroll 0 0 #D9D9D9;
   border-bottom:1px solid #AAAAAA;
   border-right:1px solid #AAAAAA;
   color:#4F6B72;
   font-family:Verdana,Arial,Sans-Serif;
   font-size:12px;
   font-weight:bold;
   padding:6px 8px;
   text-align:left;
   white-space:nowrap;
   font-style:normal;
   margin:0;
   line-height:1.6em;
}

.oef_content td {
   border-right:1px solid #AAAAAA;
   color:#4F6B72;
   font-family:Verdana,Arial,Sans-Serif;
   font-size:12px;
   padding:6px 8px;
   vertical-align:top;
   margin:0;
   line-height:1.6em !important;
}

.oef_content a {
   color: #3366CC !important;
   font-family: Verdana,Arial,Sans-Serif !important;
   font-size: 12px !important;
   line-height: 1.6em !important;
}

.oef_content input {
   font-family: Verdana,Arial,Sans-Serif !important;
   font-size: 12px !important;
   color: #000000 !important;
   background-color: #FFFFFF !important;
   border: 1px solid #6690BB !important;
   font-style: normal !important;
   font-weight: normal !important;
   padding: 2px !important;
}
.oef_content input[type=checkbox] {
   margin: 4px 0 3px 0;
}

.oef_content input[disabled], .oef_content select[disabled] {
	background-color: #F7F7F7 !important;
	color: #999999 !important;
	border: 1px solid #BBBBBB !important;
}

.oef_content a[disabled=true] {
	color: #999999 !important;
	cursor: default !important;
	text-decoration: none;
	outline-style: none !important;
}

/************************************** MT messages ******************************************/

.oef_content div.systemmsg {
    margin: 10px 0;
    padding: 0;
    border: 1px solid #ABA000;
    background: url("bg-yellow.gif") repeat-x scroll 0 0 #FFF9AE;
    font: 14px/22px Verdana,Helvetica,Arial,Sans-Serif;
}

.oef_content div.systemmsg div.inner {
    border: 1px solid #FFFFFF;
    padding-left: 42px;
}

.oef_content div.successmsg div.inner {
    background: url("/skins/common/icons/icon-32-success.gif") no-repeat scroll 4px 3px transparent;
}

.oef_content div.errormsg div.inner {
    color: #9D0A0E;
    background: url("/skins/common/icons/icon-32-error.gif") no-repeat scroll 4px 3px transparent;
    font-weight: 600;
}

.oef_content div.systemmsg ul, #topic div.systemmsg ul {
    margin: 4px 0 !important;
    padding: 4px 0 4px 0px;
}

.oef_content div.systemmsg ul li {
    list-style-type: none !important;
    margin-left: 5px !important;
}

.oef_content div.warningmsg {
	background: #FFDD77;
	border: 1px solid #DDAA44;
}

.oef_content div.warningmsg a {
	color: #3355FF !important;
	font:  14px/22px Verdana,Helvetica,Arial,Sans-Serif !important;
}

.oef_content div.warningmsg div.inner {
	color: #304555;
    background: url("/skins/common/icons/icon-32-error.gif") no-repeat scroll 4px 3px transparent;
}

/************************************** Dynamic update ***************************************/

.oef_edit_form_field_add_new {
	font-weight: bold;
	font-variant: small-caps;
}

#oef_dynamic_upadate_edit_form {
	position: fixed;
	width: 450px;
	overflow: auto;
	top: 20%;
	left: 50%;
	margin: 0 0 0 -210px;
	background-color: #F7F7F7;
	padding: 6px;
	z-index: 1000;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.oef_content td {
    border-right: 1px solid #AAAAAA;
    color: #4F6B72;
    font-family: Verdana,Arial,Sans-Serif;
    font-size: 12px;
    line-height: 1.6em !important;
    margin: 0;
    padding: 6px 8px;
    vertical-align: top;
}

#oef_dynamic_upadate_edit_form td.ae_editform_field_name {
    width: 41% !important;
}


/***************************************** Reports *******************************************/

.oef_content table.oef_report, .oef_content tr.oef_report {
	border: 0 none !important;
}

.oef_report td.oe_report_none_border, .oef_report .oe_report_none_border {
	border-top:    0 none !important;
	border-right:  0 none !important;
	border-bottom: 0 none !important;
	border-left:   0 none !important;
}

.oef_report td, .oef_report th {
	border: 1px solid #AAAAAA;
}


/***************************************** Widgets *******************************************/

table.oef_widget_table_no_border {border: 0 none !important;}
.oef_widget_table_no_border td {border-right: 0 none !important;}
